<template>
  <div class="flex items-center flex-no-shrink">
    <a class="no-underline text-black" href="#">
      <span class="text-2xl">Valtech a11y toolbox</span>
    </a>
  </div>
</template>

<script>
export default {
  name: 'HeaderMolecule',
};
</script>
