<template>
  <footer class="bg-white border-t border-gray-400 shadow">
    <div class="container mx-auto flex py-8">
      <div class="w-full mx-auto flex flex-wrap">
        <div class="flex w-full lg:w-1/2 ">
          <div class="px-8">
            <h3 class="font-bold text-gray-900">About</h3>
            <p class="py-4 text-gray-600 text-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis
              tempus commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
            </p>
          </div>
        </div>
        <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
          <div class="px-8">
            <h3 class="font-bold text-gray-900">Social</h3>
            <ul class="list-reset items-center text-sm pt-3">
              <li>
                <a
                  class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1"
                  href="#"
                  >Add social links</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'FooterMolecule',
};
</script>
