h1 {
  @apply font-bold text-4xl;
}

h2 {
  @apply font-bold text-3xl;
}

h3 {
  @apply font-bold text-2xl;
}

h4 {
  @apply font-bold text-xl;
}

h5 {
  @apply font-bold text-lg;
}

h6 {
  @apply font-bold;
}

p {
  @apply mb-3;
}

a {
  @apply align-middle text-blue-500 underline;

}

a:hover {
  @apply no-underline;
}
