<template>
  <div>
    <section
      v-for="(page, index) in content"
      :key="page.fields.chapter_number"
      :index="index"
      class="content"
    >
      <h2 :id="page.slug" class="flex items-center">
        <IconAtom :width="24" :height="24" :icon="page.fields.icon" class="icon mr-4 -mt-1" />
        {{ page.fields.title }}
      </h2>

      <SeparatorAtom alignment="left" class="mb-6 mt-4 "></SeparatorAtom>

      <div v-html="page.fields.body" class="content-container"></div>
    </section>
  </div>
</template>

<script>
import SeparatorAtom from '@/components/atoms/Separator/SeparatorAtom.vue';

export default {
  name: 'ContentMolecule',
  components: {
    SeparatorAtom,
  },
  props: {
    content: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
.content {
  @apply mb-12;

  .icon {
    margin-top: -2px;
  }
}

.content-container {
  @apply p-8 mt-6 rounded shadow bg-white;

  /deep/ h3 {
    @apply mb-3 text-xl;
  }

  /deep/ p {
    @apply mb-3;

    &:last-of-type {
      @apply mb-0;
    }
  }

  /deep/ article {
    @apply mb-8;

    &:last-of-type {
      @apply mb-0;
    }
  }
}
</style>
