<template>
  <hr :class="['separator', separatorAlignment, separatorSize]" />
</template>

<script>
export default {
  name: 'SeparatorAtom',
  props: {
    size: {
      type: String,
      default: null,
    },
    alignment: {
      type: String,
      default: null,
    },
  },
  computed: {
    separatorSize() {
      let size;
      if (this.size === 'small') {
        size = 'separator--sm';
      }
      if (this.size === 'large') {
        size = 'separator--lg';
      }
      return size;
    },
    separatorAlignment() {
      let alignment;
      if (this.alignment === 'left') {
        alignment = 'separator--left';
      }
      if (this.alignment === 'right') {
        alignment = 'separator--right';
      }
      return alignment;
    },
  },
};
</script>

<style scoped lang="scss">
.separator {
  border: 0;
  height: 2px;
  width: 75%;
  background-image: linear-gradient(to left, transparent, theme('colors.blue.100'));

  &--left {
    margin-left: 0;
  }

  &--right {
    margin-right: 0;
  }

  &--sm {
    width: 50%;
  }

  &--lg {
    width: 90%;
  }
}
</style>
