<template>
  <main id="main" class="container w-full flex flex-wrap mx-auto px-2 pt-8">
    <div class="w-full lg:w-1/5 px-2 text-xl text-gray-800 leading-normal">
      <TableOfContentsAtom :toc-content="pages" />
    </div>
    <div class="w-full lg:w-4/5 px-2">
      <ContentMolecule :content="pages" />
    </div>
  </main>
</template>

<script>
import ContentMolecule from '@/components/molecules/Content/ContentMolecule.vue';
import TableOfContentsAtom from '@/components/atoms/TableOfContents/TableOfContentsAtom.vue';
import { butter } from './../../../buttercms.js';

export default {
  name: 'HomePage',
  components: {
    ContentMolecule,
    TableOfContentsAtom,
  },
  data() {
    return {
      page_title: 'Blog',
      posts: [],
      pages: [],
    };
  },
  created() {
    // this.getPosts(),
    this.getPages();
  },
  methods: {
    getPosts() {
      butter.post
        .list({
          page: 1,
          page_size: 10,
        })
        .then((res) => {
          this.posts = res.data.data;
        });
    },
    getPages() {
      butter.page.list('chapter').then((res) => {
        this.pages = res.data.data;
        console.log(this.pages);

        this.pages = this.pages.sort((a, b) => (a.chapter_number > b.chapter_number ? 1 : -1));
        console.log(this.pages);
      });
    },
  },
};
</script>

<style lang="scss"></style>
