<template>
  <header class="flex bg-primary">
    <div class="container w-full flex flex-wrap mx-auto px-2">
      <div class="flex-initial text-center py-2 m-2">
        <LogoAtom />
      </div>
      <div class="flex-auto text-center py-2 m-2">
        <NavigationMolecule />
      </div>
    </div>
  </header>
</template>

<script>
import LogoAtom from '@/components/atoms/Logo/LogoAtom.vue';
import NavigationMolecule from '@/components/molecules/Navigation/NavigationMolecule.vue';

export default {
  name: 'HeaderOrganism',
  components: {
    LogoAtom,
    NavigationMolecule,
  },
};
</script>
