<template>
  <div class="toc">
    <scrollactive
      :highlightFirstItem="highLightItem"
      :class="[mobileMenuIsOpen ? 'block' : 'hidden']"
      class="toc-container"
    >
      <a
        :href="`#${link.slug}`"
        v-for="(link, index) in tocContent"
        :key="link.fields.chapter_number"
        :index="index"
        class="scrollactive-item"
      >
        {{ link.fields.toc_title }}
      </a>
    </scrollactive>
  </div>
</template>

<script>
export default {
  name: 'TableOfContentsAtom',
  props: {
    tocContent: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      mobileMenuIsOpen: false,
      highLightItem: true,
    };
  },
};
</script>

<style scoped lang="scss">
.toc {
  position: fixed;
}

@screen lg {
  .toc {
    width: 186px;
  }
}

@screen xl {
  .toc {
    width: 236px;
  }
}

.toc-container {
  //@apply mt-0 my-2 border border-gray-400 bg-white shadow z-20;

  a {
    @apply text-gray-900 flex p-2 text-sm capitalize no-underline mb-2 rounded;
    transition: background-color 0.3s linear;
    width: fit-content;
    background-color: transparent;

    &.is-active {
      @apply bg-blue-100;
    }
  }
}
</style>
