<template>
  <a href="#main" class="skip">
    Jump to main content
  </a>
</template>

<script>
export default {
  name: 'SkipLinkAtom',
};
</script>

<style scoped lang="scss">
.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;

  @apply p-5 text-left overflow-hidden bg-gray-100;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
}
</style>
