<template>
  <div id="app">
    <SkipLinkAtom />
    <HeaderOrganism />
    <router-view></router-view>
  </div>
</template>

<script>
import HeaderOrganism from '@/components/organisms/Header/HeaderOrganism.vue';
import SkipLinkAtom from '@/components/atoms/SkipLink/SkipLinkAtom.vue';

export default {
  name: 'App',
  components: {
    HeaderOrganism,
    SkipLinkAtom,
  },
};
</script>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
