<template>
  <nav class="flex justify-end">
    <div class="block lg:hidden">
      <button
        id="nav-toggle"
        @click="toggleMenu"
        class="flex items-center px-3 py-2 border rounded text-grey border-grey-dark hover:text-white hover:border-white"
      >
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div v-show="menuToggle">sljdskldjsldjksjdklsdj</div>
  </nav>
</template>

<script>
export default {
  name: 'NavigationMolecule',
  data() {
    return {
      mobileMenuIsOpen: false,
    };
  },
  computed: {
    menuToggle() {
      return this.$store.state.showModal;
    },
  },
  methods: {
    toggleMenu: function() {
      this.mobileMenuIsOpen = !this.mobileMenuIsOpen;
      console.log(this.$store);
      this.$store.commit('showMenu');
    },
  },
};
</script>
